<form action="/expenses" method="POST">
  <div class="mb-3">
    <label for="name" class="form-label">Item</label>
    <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="cost" class="form-label">Cost</label>
    <input type="text" class="form-control" id="cost" name="cost">
  </div>
  <div class="mb-3 form-check">
    <label class="form-label" for="date" name="date">Date</label>
    <input type="date" class="form-label" id="date" name="date">
  </div>
  <div class="mb-3 form-check">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>