@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto+Slab&display=swap');

*{
  font-family: 'Noto Sans TC' ,sans-serif;
}

/* index.hbs */

.list-group {
  min-width:600px;
}


.item-container{
  background-color:rgb(211, 204, 197);
  border-bottom:0.5px solid grey;
  border-left:0.5px solid grey;
  border-right:0.5px solid grey;
}

.item-container:first-child{
  border-top: 0.5px solid grey;
}

.item-container:nth-child(2n) {
  background-color: rgb(253, 208, 141);
}



.icon-div {
  font-size: 45px;
  color:rgb(34, 95, 139);
}

.name-div {
font-size:25px;
}

.amount-div {
  font-size:20px;
}

.edit-delete-div{
  font-size:22px;
}

.delete-btn {
  color:red;
  background-color: transparent;
  border:0;
  padding:0;
}













.form-container, .expense-container {
  background-color: #a2a8aa;
  box-shadow:0px 0px 5px 0 rgb(128, 126, 126);
  border-radius:5px;
  width: fit-content  !important;
  padding: 1em;
  margin-right:auto;
  margin-left:auto;
}

.form-description, .input-group {
  min-width:400px;
  display: flex;
  justify-content: space-around;
}

.new-title, .input-group {
  font-size:22px;

}

.input-group input, .input-group select {
  min-width:200px  !important;
}


