@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto+Slab&display=swap');

*{
  font-family: 'Noto Sans TC' ,sans-serif;
}



/* index.hbs */

.list-group {
  min-width:600px;

}


.item-container{
  background-color:rgb(247, 245, 244);
  box-shadow:0px 0px 5px 0 rgb(247, 245, 244);
  border: 1px solid rgb(247, 245, 244);
  min-height:80px;
  border-radius: 10px;
}

.item-container:nth-child(2n) {
  background-color: rgb(255, 204, 128);
  box-shadow:0px 0px 5px 0 rgb(255, 204, 128);
  border: 1px solid rgb(255, 204, 128);
}

.category-toggle {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(158, 151, 151);
  padding: 5px;
}


.icon-div {
  font-size: 45px;
  color:rgb(120, 152, 175);
}

.fa-home {
  color:rgb(97, 19, 90)
}

.fa-shuttle-van {
  color:rgb(57, 160, 160);
}

.fa-grin-beam {
  color:rgb(31, 102, 31)
}

.fa-utensils{
  color:rgb(139, 44, 27);
}

.fa-pen {
  color:rgba(196, 204, 79, 0.822)
}
.name-div {
font-size:25px;
}

.amount-div {
  font-size:20px;
}

.edit-delete-div{
  font-size:22px;
}

.delete-btn {
  color:red;
  background-color: transparent;
  border:0;
  padding:0;
}


 .expense-container {
  /* background-color: #a2a8aa; */
  /* box-shadow:0px 0px 5px 0 rgb(128, 126, 126); */
  border-radius:5px;
  width: fit-content  !important;
  padding: 1em;
  margin-right:auto;
  margin-left:auto;
}

.total-container {
  font-size: 30px;
}

.fa-plus-square {
  font-size:35px;
}


.form-container {
  background-color: #d7e2e6;
  box-shadow:0px 0px 5px 0 rgb(128, 126, 126);
  border-radius:5px;
  width: fit-content  !important;
  padding: 1em;
  margin-right:auto;
  margin-left:auto;
}




.form-description, .input-group {
  min-width:400px;
  display: flex;
  justify-content: space-around;
}

.new-title, .input-group {
  font-size:22px;

}

input, select{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
input, select {
  width:200px;
}



